<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>ARS: Табло</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <a href="{% url 'main' %}" class="list-group-item list-group-item-action list-group-item-info">Главная</a>
          <a href="{% url 'scoreboard' %}" class="list-group-item list-group-item-action list-group-item-info">Табло победителей</a>
          <a href="{% url 'comments' %}" class="list-group-item list-group-item-action list-group-item-info">Комментарии</a>
          <a href="{% url 'register' %}" class="list-group-item list-group-item-action list-group-item-info">Регистрация</a>
          <a href="{% url 'login' %}" class="list-group-item list-group-item-action list-group-item-info">Войти</a>
          <a href="{% url 'logout' %}" class="list-group-item list-group-item-action list-group-item-info">Выйти</a>
      </ul>
     {% endblock %}
      </div>
        <div class="col-sm-10">
            {% block content %}{% endblock %}
        </div>
    </div>
  </div>
</body>
</html>