<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owners list view</title>
</head>
<body>
    <div class="main">

        {% for data in dataset %}

        Имя пользователя: {{data.username}}<br>
        Имя: {{data.first_name}}, Фамилия: {{data.last_name}} <br>
        Дата рождения: {{data.birth_date}}<br>
        Серия и номер паспорта: {{data.passport_data}}<br>
        Домашний адрес: {{data.home_address}}<br>
        Национальность: {{data.nationality}}<br>
        Электронная почта: {{data.email}}<br>

        <hr/>

        {% endfor %}

    </div>
</body>
</html>