{% extends  'based.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="card">
<div class="card-body">
<h4 class="card-title" style="color:#808080">Войдите в профиль</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn" href="{% url 'profile' %}">Вход</button>
</form>
    <h6 class="card-title">Не зарегистрированы?<a href="{% url 'register' %}">Зарегистрироваться</a></h6>
</div>
</div>
{% endblock %}