<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доска домашних заданий</title>
</head>
<body> 
<b><h1><p align = "center" style="font-family:'Courier New'">Здравствуйте! Что хотите сделать ?</h1></b><br> 
<div class="row" align="center">
<li><a href="http://127.0.0.1:8000/board/" style="font-family:'Courier New'">Просмотреть доску домашних заданий</a></li>
<li><a href="http://127.0.0.1:8000/comments/" style="font-family:'Courier New'">Почитать комментарии коллег</a></li>
<li><a href="http://127.0.0.1:8000/comment/" style="font-family:'Courier New'">Добавить комментарий к домашнему заданию</a></li>
<li><a href="http://127.0.0.1:8000/accounts/logout/" style="font-family:'Courier New'">Выйти из аккаунта</a></li>
</div>
</p>
</body>
</html>