<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>

</br>
<b><h1><p align = "center" style="font-family:'Courier New'">Добро пожаловать на виртуальную доску домашних заданий!</h1></b>
<h2><p align = "center" style="font-family:'Courier New'">Для начала, авторизуйтесь:</h2></br></br></p>
<div class="row" p align = "center">
<a href="http://127.0.0.1:8000/reg_user/"> <p style="font-family:'Courier New'">Регистрация</a>
<a href="http://127.0.0.1:8000/accounts/login/"><p style="font-family:'Courier New'">Вход</a>
</div>
</p>
</p>
</body>
</html>