<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %} Hotels {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="hotels">Hotels</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="comments">Comments</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="logout">Change User</a></li>
        </ul>
    </div>
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>