<!DOCTYPE html>


<html lang="ru">


<head>


    <meta charset="UTF-8">


    <title>Owners</title>


</head>


<body>


    <div>


	{% for owner in owners %}


		<p><b>Имя владельца:</b> {{owner.first_name}}</p>

                <p><b>Фамилия владельца:</b> {{owner.last_name}}</p>

		<p><b>Дата рождения:</b> {{ owner.date_birth}}</p>

                <p><b>Паспорт: </b> {{owner.passport}} <br>

                <p><b>Адрес: </b> {{owner.adress}} <br>

                <p><b>Национальность: </b> {{owner.nationality}} <br>

		<hr>


	{% endfor %}


	</div>


</body>


</html>