{% extends 'hw/base_hw.html' %}

{% block title %}
    Homework list
{% endblock %}

{% block content %}
    <h1 class="mb-5">Д/З:</h1>
    {% for name in names %}
        <div class="card text-center mb-5">
            <div class="card-header">
                Дата выдачи: {{ name.date_issue }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ name.subject }}</h5>
                <h6 class="card-title"><small><i>Преподаватель: {{ name.teacher }}</i></small></h6>
                <p class="card-text"><b>Задание: </b>{{ name.body|truncatewords:15 }}</p>
                <span>
                    <a href="{{ name.get_absolute_url }}" class="btn btn-info">Подробнее</a>
                </span>
            </div>
            <div class="card-footer text-muted">
                <i>Период выполнения: {{ name.duration }}</i>
            </div>
        </div>
        {% endfor %}
{% endblock %}