<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Пример веб-страницы</title>
 </head>
 <body>
<h1>Список научных конференций</h1>
 <ul class="sidebar-nav">
<li><a href="/index/{{ index }}">Главная страниица</a></li>
<li><a href="/conferences/{{ conferences }}">Конференции</a></li>
<li>{% if user.is_active %}
<a href="{% url 'account_logout' %}">Выйти</a>
{% else %}
<a href="{% url 'account_login' %}">Войти</a>
{% endif %}</li>
</ul>
 </body>
</html>

