<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All owners</title>
</head>
<body>
    {% for owner in owners %}
<table>
    <tr>
        <td>
            Имя владельца:
        </td>
        <td>
            {{owner.first_name}}
        </td>
    </tr>
    <tr>
        <td>
            Фамилия владельца:
        </td>
        <td>
            {{owner.last_name}}
        </td>
    </tr>
    <tr>
        <td>
            Дата рождения владельца:
        </td>
        <td>
            {{owner.date_of_birth}}
        </td>
    </tr>
    <tr>
        <td>
            Адрес владельца:
        </td>
        <td>
            {{owner.location}}
        </td>
    </tr>
    <tr>
        <td>
            Национальность владельца:
        </td>
        <td>
            {{owner.nation}}
        </td>
    </tr>
    <tr>
        <td>
            Номер паспорта:
        </td>
        <td>
            {{owner.passport_number}}
        </td>
    </tr>
</table>
    <br>
{% endfor %}
</body>
</html>