<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto owner</title>
</head>
<br>
<body>
    <H1>Имя владельца:</H1>
    <p>{{owner.first_name}}</p><br/>
    <H1>Фамилия владельца:</H1>
    <p>{{owner.last_name}}</p><br/>
    <H1>Дата рождения владельца: </H1>
    <p>{{owner.date_of_birth}}</p><br/>
    <H1>Адрес владельца: </H1>
    <p>{{owner.location}}</p><br/>
    <H1>Национальность владельца: </H1>
    <p>{{owner.nation}}</p><br/>
</body>
</html>