{% extends "base_generic.html" %}
{% block title %}<title>Flight: комментарии к авиперелетам</title>{% endblock %}
{% block content %}
<h1>Список авиакомпаний</h1>
    <table class="table table-bordered">
        {% for avia in avias %}
       <tr>
           <td colspan="2" bgcolor="#ffe4c4"><h2>{{avia.name}}</h2></td>
       </tr>
        <tr>
            <td>Страна, которой принадлежит авиакомпания</td>
            <td>{{avia.country}}</td>
        </tr>
        <tr>
            <td>Дата основания авиакомпании</td>
            <td>{{avia.founded_in}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock%}