{% extends 'base_page.html' %}


{% block title %}
    Book Create - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{% url 'book_create_url' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}

            {{ field.label }}
            {{ field }}
            {% if field.label == 'Slug' %}
                <p>* where NC - is a cover type</p>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Create</button>

    </form>
{% endblock %}