{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<h2><p class="text-center">Регистрация</p></h2>
<div class="card">
<div class="card-body">
<h5 class="card-title"><p class="text-center">Пожалуйста, заполните все поля</p></h5>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

    {{ form.as_p }}

    <button type="submit" class="btn btn-info btn-block">Зарегистрироваться</button>
</form>
</div>
</div>
{% endblock %}