.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
body {
  background-image: url('https://www.liveabout.com/thmb/vF075HEKoXbx1-_e0SWa5SOext0=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/the-plane-flies-in-the-sky-in-beautiful-clouds-881621264-5b7baa5fc9e77c00506fd75a.jpg');
  background-repeat: no-repeat;
}