.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__
__init__.py
asgi.py
wsgi.py
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/college-vue/build
/college-vue/config
/college-vue/static
/college-vue/src/assets
.babelrc
.editorconfig
package.json
package-lock.json
req.txt



