{% extends "base_generic.html" %}
{% block title %}<title>HometaskDesk: домашние задания</title>{% endblock %}
{% block content %}
<h1>Доска домашних заданий</h1>
    <table>
        {% for task in tasks %}
       <tr>
           <td><H1>Домашнее задание номер: {{task.id}}</H1></td>
       </tr>
        <tr>
            <td>Дисциплина</td>
            <td>{{task.subject}}</td>
        </tr>
        <tr>
            <td>Преподаватель</td>
            <td>{{task.teacher}}</td>
        </tr>
        <tr>
            <td>Дата выдачи задания</td>
            <td>{{task.date_given}}</td>
        </tr>
        <tr>
            <td>Срок исполнения задания</td>
            <td>{{task.deadline}}</td>
        </tr>
        <tr>
            <td>Текст задания</td>
            <td>{{task.text_of_task}}</td>
        </tr>
        <tr>
            <td>Дополнительно о штрафах</td>
            <td>{{task.about_fines}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock%}