{% extends "base_generic.html" %}
{% block title %}<title>HometaskDesk: комментарии</title>{% endblock %}
{% block content %}
<h1>Комментарии к домашним заданиям</h1>
    <table>
        {% for comment in comments %}
       <tr>
           <td><H2>Комментарий к домашнему заданию: {{comment.hometask.task_name}}</H2></td>
       </tr>
        <tr>
            <td>Автор комментария</td>
            <td>{{comment.student.userprofile}}, {{comment.student.userprofile.group}}</td>
        </tr>
        <tr>
            <td>Тип комментария</td>
            <td>{{comment.type_of_comment}}</td>
        </tr>
        <tr>
            <td>Важность комментария</td>
            <td>{{comment.importance_of_comment}}</td>
        </tr>
        <tr>
            <td>Текст комментария</td>
            <td>{{comment.text}}</td>
        </tr>
        <tr>
            <td>Дата</td>
            <td>{{comment.post_date}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}