<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All owners</title>
</head>
<body>
    <div class="main">
    	{% for owner in dataset %}
        <strong>First name: </strong> {{owner.first_name}} <br>
        <strong>Last name: </strong> {{owner.last_name}} <br>
        <strong>Born: </strong> {{owner.birth_date}} <br>
        <strong>Passport: </strong> {{owner.passport}} <br>
        <strong>Address: </strong> {{owner.address}} <br>
        <strong>Nationality: </strong> {{owner.nationality}} <br>
    	<hr/>

    	{% endfor %}

    </div>
</body>
</html> 
