<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner</title>
</head>
<body>
    <div align="left">
        <strong>First name: </strong> {{owner.first_name}} <br>
        <strong>Last name: </strong> {{owner.last_name}} <br>
        <strong>Born: </strong> {{owner.birth_date}} <br>
        <strong>Passport: </strong> {{owner.passport}} <br>
        <strong>Address: </strong> {{owner.address}} <br>
        <strong>Nationality: </strong> {{owner.nationality}} <br>
    </div>
</body>
</html> 
