{% extends "base_view.html" %}
{% block title %}<title>Flights: comments</title>{% endblock %}
{% block content %}
<h1>Comments</h1>
    <table>
        {% for comment in comments %}
       <tr>
           <td><H2>Flight {{comment.flight.code}}</H2></td>
       </tr>
        <tr>
            <td>Author</td>
            <td>{{comment.client.client.first_name}} {{comment.client.client.last_name}}</td>
        </tr>
        <tr>
            <td>Type of comment</td>
            <td>{{comment.comment_type}}</td>
        </tr>
        <tr>
            <td>Text</td>
            <td>{{comment.text}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{comment.post_date}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}