{% extends "main.html" %}
{% block title %}<title>HOMEWORK BOARD: Оставить комментарий</title>{% endblock %}
{% block content %}
    <div style="width:60%; margin-left:20%; border: dotted 3px; color: #4682B4; padding:20px; border-radius: 15px;">


      <h2 align="center">Оставить комментарий</h2>
        <br><form method="POST" enctype="multipart/form-data"><br>

    {% csrf_token %}
    {{ form.as_p }}
</div>
    <br><input type="submit" class="b1" value="Опубликовать"></br>
    <style>
   .b1 {
    background: #4682B4; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    padding: 7px 12px; /* Поля */
    margin-bottom: 1em; /* Отступ снизу */
       position: relative;
       border-radius: 10px;
       left: 50%;
       transform: translate(-50%, 0);
   }
  </style>
    </form>
{% endblock %}