


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
        <body>
            <h3>Владелец</h3>
            <ul>
                <li>Имя: {{poll.first_name}}</li>
                <li>Фамилия: {{poll.last_name}}</li>
                <li>Дата рождения: {{poll.date_of_birth}}</li>
                <li>Номер паспорта: {{ addit.passport_num }}</li>
                <li>Адрес: {{ addit.home_address }}</li>
                <li>Национальность: {{ addit.nationality }}</li>
            </ul>

        </body>
</html>