{% extends  'based.html' %}
{% load crispy_forms_tags %}

{% block main %}
<h2>Профиль нового пользователя</h2>
<div class="card">
<div class="card-body">
<h5 class="card-title">Пожалуйста, заполните все поля</h5>

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

    <!-- Using the formset -->
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary btn-block" href="{% url 'index' %}">Подтвердить</button>
</form>
</div>
</div>
{% endblock %}