<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <a href="{% url 'flights_list' %}">Все рейсы</a>
    <h2>Информация о рейсе</h2>
    <ul style="list-style-type:none">
	<li><b>№ рейса:</b> {{ flight.flightnum }}</li>
	<li><b>Авиакомпания:</b> {{ flight.company }}</li>
	<li><b>Отлёт:</b> {{ flight.departure }}</li>
	<li><b>Прилёт:</b> {{ flight.arrival }}</li>
	<li><b>Тип:</b> {{ flight.get_flighttype_display }}</li>
	<li><b>№ гейта:</b> {{ flight.gate }}</li>
	<li><b>Направление:</b> {{ flight.direction }}</li>
    </ul>
    <hr/>
    <h4>Комментарии</h4>
    {% for comment in comments %}
    <div>
    Пользователь: {{ comment.user }}<br>
    {{ comment.text }}<br>
    Категория: {{ comment.category }}<br>
    Добавлен {{ comment.created }}<br><br>
    </div>
    {% endfor %}
    {% if user.is_active %}
	<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Отправить</button>
	</form><br>
    <a href="/accounts/logout/">Выйти</a> из аккаунта
    {% else %}
	Чтобы оставить комментарий - <a href="/accounts/login/">авторизуйтесь</a>.
    {% endif %}
</body>
</html>