<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Информация об авиа перелётах</h1>
    <a href="{% url 'flights_type' pk=1 %}"><button>Все рейсы</button></a>
    <a href="{% url 'flights_type' pk=2 %}"><button>Отлёты</button></a>
    <a href="{% url 'flights_type' pk=3 %}"><button>Прилёты</button></a><br>
    <hr/>
    	{% for flight in flights %}
	    <b>{{ flight.flightnum }}</b> | 
	    {{ flight.company }} | 
	    {{ flight.departure }} | 
	    {{ flight.arrival }} | 
	    <b>{{ flight.get_flighttype_display }}</b> | 
	    GATE {{ flight.gate }} | 
	    {{ flight.direction }} | 
	    <a href="{% url 'flight_single' pk=flight.id %}">Подробнее</a></li>
	    <hr/>
	{% empty %}
	Нет информации о перелётах!
	{% endfor %} 
</body>
</html>