{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="card">
<div class="card-body">
    <h4 class="card-title"><p class="text-center">Вход в рабочий кабинет</p></h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}

<button type="submit" class="btn btn-info btn-block">Войти</button>
</form>
    <br><h6 class="card-title">Нет рабочего кабинета?</br><a href="{% url 'register' %}"><p class="text-info">Зарегистрироваться!</p></a></h6>
</div>
</div>
{% endblock %}