<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>Список мастер-классов</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/templatemo-gray.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar-collapse" link="#d3d3d3">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="{% static 'images/logo.jpg'%}" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
				<hr>
				<h1 class="tm-title bold shadow">Лаб. работа №1</h1>
				<h1 class="grey bold shadow">"Танцевальные мастер-классы Санкт-Петербурга"</h1>
			</div>
		</div>
	</div>
</header>

<section class="container">
	<div class="row">
        {% for workshop in workshops_data %}
            <div class="col-md-6 col-sm-12">
                <div class="workshop">
                    <h2 class="grey"> {{ workshop.name }} </h2>
                    <strong>Стиль: {{ workshop.heading.all.0.style}}</strong><br>
                    {% if workshop.heading.all.count != 1 %}
                        <strong>Хореографы:
                        {% for head in workshop.heading.all %}
                        {{ head.choreographer }},
                        {% endfor %}</strong>
                    {% else %}
                    <strong>Хореограф: {{ workshop.heading.get.choreographer }}</strong>
                    {# {% for head in workshop.heading.all%}  #}
                    {% endif %}<br>
                    <strong>Место: {{ workshop.place }}</strong><br>
                    <strong>Дата и время: {{ workshop.date }} в {{ workshop.time }}</strong><br>
                    <strong>Продолжительность: {{ workshop.duration }} мин.</strong><br>
                    <strong>Цена: {{ workshop.cost }} руб.</strong><br>
                    <a href="{% url 'Workshop_single' pk=workshop.id %}">Узнать подробнее или задать вопрос</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.backstretch.min.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>

</body>
</html>