asgiref==3.2.7
Django==3.0.7
django-cors-headers==3.3.0
django-templated-mail==1.1.1
djangorestframework==3.11.0
djoser==2.0.3
pkg-resources==0.0.0
psycopg2-binary==2.8.5
pytz==2020.1
sqlparse==0.3.1
